nav .brand-logo{
    padding: 0px 40px;
}
#progress-wrp {
    height: 3px;
    border-radius: 0;
    margin: auto;
    margin-top:10px;
    color:white;
    letter-spacing: 3px;
    font-size:20px;
    text-align: center;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}
#progress-wrp .progress-bar{
    height: 100%;
    border-radius: 0;
    background-color: #4ed76b;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}
#progress-wrp{
    display: none;
}
.parallax-container{
    height:540px;
    width:100%;
}
.file-div{
    display:none;
}
@media only screen and (min-width: 1024px){
    #logo-sign{
        height:30px;
        width:30px;
        margin-right:10px;
        position:relative;
        top:4px;
    }
}
@media only screen and (max-width: 1024px)
{
    #logo-sign{
        display:none;
    }
}

#upload-btn{
    display:none;
}
#upload-btn{
    border:none;
}
#file-upload-label, #upload-btn{
    padding: 10px 80px;
    height:55px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#file-upload-label:hover, #upload-btn:hover{
    cursor: pointer;
}
h4{
    text-align:center;
}
.result-div{
    display:none;
}
.preloader-div{
    display:none;
    z-index:4;
    position:fixed;
    padding:50vh 0;
    width:100%;
    height:100%;
    text-align:center;
    background:rgba(255, 255, 255, 0.927);
}