<!DOCTYPE html>
<html>
<head>
    <title>Whatsapp Analysis</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body> 
        <nav>
                <div class="nav-wrapper green accent-3">
                  <a href="#!" class="brand-logo">Whatsapp Analyser</a>
                  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">About</a></li>
                    <li><a href="badges.html">MathOCR</a></li>
                  </ul>
                </div>
              </nav>
            
              <ul class="sidenav" id="mobile-demo">
                <li><a href="sass.html">About</a></li>
                <li><a href="badges.html">MathOCR</a></li>
              </ul>
    <div class="container">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
    </script>
    </div>
</body>
</html>